<p class="lead">This is the base template, please be sure to overwrite "{&percnt;  block content &percnt;}" in your template.</p>
<p><a href="https://github.com/Myzaree/Symfony2-Bootstrap3" target="_blank">For Installation Details</a></p>
<p><a href="http://getbootstrap.com/getting-started/" target="_blank">Visit Bootstrap 3.1 for examples.</a></p>
<p><strong>Base templates</strong>:
<ul>
    <li>"%kernel.root_dir%/../vendor/twitter/bootstrap/examples/"</li>
    <li>"%kernel.root_dir%/../vendor/symfony/bootstrap/src/Symfony/Bundle/BootstrapBundle/"</li>
</ul>
</p>
