<!DOCTYPE html>
<html>
<head>
{% block meta %}{% include 'BootstrapBundle:Base:meta.html.twig' %}{% endblock %}
{% block stylesheets %}{% include 'BootstrapBundle:Base:css.html.twig' %}{% endblock %}
<title>{% block title "Bootstrap 3 Symfony Integration" %}</title>
</head>
<body>
<div id="wrap">
    {% block nav %}{% endblock %}
    {% block body %}
        <div class="container">
            {% block header '<h1>Bootstrap 3 Symfony Integration</h1>' %}
            {% block page %}{% include 'BootstrapBundle:Base:body.html.twig' %}{% endblock %}
        </div>
    {% endblock %}
</div>

{% block footer %}{% include 'BootstrapBundle:Base:footer.html.twig' %}{% endblock %}
{% block javascripts %}{% include 'BootstrapBundle:Base:js.html.twig' %}{% endblock %}
</body>
</html>